<h2 class="user-show"><%= @user.name %>'s Page</h2>

<h4>Quotes you created</h4>
<!-- <div>
    <% if @quotation.user == @current_user %>
    <%= link_to 'Edit This Quotation', edit_quotation_path(@quotation) %>
    |
    <%= link_to 'Delete This Quotation', quotation_path(@restaurant), method: 'delete' %>
    <% end %>
  </div> -->
