<div class="container">
  <div class="grid-item pig">
      <h2>Step 1: Select your background image</h2>
      <form id="searchForm">
        <input type="text" id="searchText" value="coral">
        <button>Search Flickr</button>
      </form>
      <div id="results"></div>
  </div>

  <div class="grid-item">
    Preview Page
    <div id="preview">
      <img />
      <div id="quote-text"> </div>
    </div>
  </div>

  <div class="grid-item">
    <h2>Step 2: Enter your favorite quotation</h2>
    <%= render partial: 'form' %>


    <p>Choose your font colors:</p>
      <div>
          <input type="color" id="head" name="head"
                 value="#e66465">
          <label for="head">Font</label>
      </div>
    <p>Choose your font size:</p>
    <select>
      <option value="">12</option>
      <option value="">16</option>
      <option value="">20</option>
      <option value="">24</option>
      <option value="">28</option>
      <option value="">32</option>
      <option value="">36</option>
      <option value="">40</option>
      <option value="">42</option>
      <option value="">44</option>
      <option value="">46</option>
      <option value="">48</option>
      <option value="">50</option>
      <option value="">52</option>
      <option value="">54</option>
      <option value="">56</option>
      <option value="">58</option>
      <option value="">60</option>

    </select>




  </div>
</div>

  <script>
    $('#content').on('input propertychange', function(){
      let content = $(this).val();
      content = content.replace(/\n/g, '<br>')
      content = content.replace(/ /g, '&nbsp;')
      console.log( content );
      $('#quote-text').html( content );
    })

    $('#searchForm').on('submit', () => {
      console.log('submitted');
      const query = $('#searchText').val()
      searchFlickr( query );
      return false;
    });

    const searchFlickr = queryText => {

      const BASE_URL = 'https://api.flickr.com/services/rest/';

      // $.getJSON lets you give an object as an optional second arg, whose key-value pairs
      // will be turned into an equivalent querystring and appended to the URL
      $.getJSON(BASE_URL, {
        api_key: '2f5ac274ecfac5a455f38745704ad084',
        method: 'flickr.photos.search',
        format: 'json',
        nojsoncallback: 1,
        text: queryText,
        page: 1
      })
      .done( displaySearchResults )  // Register another function to handle the successful response
      .fail( console.warn );

    }; // searchFlickr()

    const displaySearchResults = response => {
      // console.log( response );

      $('#results').empty();

      response.photos.photo.forEach( foto => {

          const thumbnailURL = generateImageURL( foto );
          $('<img>')
          .attr('src', thumbnailURL)
          .on('click', function(){
            // displayFullscreenImage( foto );
            console.log('clicked!!', this);
            $('img.selected').removeClass('selected');
            $(this).addClass('selected');
            const hoverImageURL = generateImageURL( foto, 'c' );
            $('#preview img').attr('src', hoverImageURL);
            $('#image_url').val( hoverImageURL );
            console.log( $('#image_url').val() );
          })
          // .hover(
          //   function(){
          //     $(this).attr('src', hoverImageURL);
          //   },
          //   function(){
          //     $(this).attr('src', thumbnailURL);
          //   }
          // )
          .appendTo("#results");

        }); // forEach
    };

    const generateImageURL = (photo, size='s') => {
        return `https://farm${photo.farm}.staticflickr.com/${photo.server}/${photo.id}_${photo.secret}_${size}.jpg`; //plug in size
      };
  </script>
