<h1>Quotations#show</h1>

<div>
    <% if @quotation.user == @current_user %>
    <%= link_to 'Edit This Quotation', edit_quotation_path(@quotation) %>
    |
    <%= link_to 'Delete This Quotation', quotation_path(@quotation), method: 'delete' %>
    <% end %>
  </div>

<style>
#quote-text{
  font-size: <%= @quotation.font_size %>pt !important;
  color: <%= @quotation.font_colour %> !important;
}
</style>
