
.container {
  display: grid;
  padding: 20px;
  background: #fff;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 8fr 6fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.grid-item {
  background: lavender;
  padding: 30px;
}

.pig {
  grid-column: span 2;
}

#preview {
  margin-top: 20px
}

#results {
  margin-top: 10px;
}

#results img{
  padding: 1px;
  margin: 1px;
  border: 3px solid rgba(0,0,0,0);
}

img.selected{
  border: 3px solid rgba(255,150,0, 1.0) !important;
}

#content{
  width: 100%;
  height: 150px;
  font-size: 16pt;
}

#quote-text{
  width: 100%;
  height: 100%;
  position: absolute;
  
}
