/* @import url('https://fonts.googleapis.com/css?family=Raleway'); */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Raleway');

body{
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Raleway', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
}

  h2 {
  text-align: center;
  margin: auto 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;

}


.user-show {
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: 20px;
}

#liked-list{
  text-align: center;
}

.all-pics {
  text-align: center;
  margin: 0 auto;
}

.pic {
  width: 55vw;
  height: 70vh;
}
