/* @import url('https://fonts.googleapis.com/css?family=Raleway'); */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Raleway');

body{
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Raleway', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
}

/* .show {
  text-align: center;
  margin: 0 auto;
} */
